body,
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    height: 100vh;
    width: 100vw;
}

div#app {
    border: 4px solid black;
    display: inherit;
    height: inherit;
    width: inherit;
}

canvas#layer-1 {
    border: 2px dashed red;
    display: inherit;
    height: 100vh;
    width: 100%;
}