body,
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div#stage {
    border: 4px solid black;
    display: block;
    width: 100%;
    height: 100vh; /* OR do 100% and inherit for each canvas, but this may render vertical scrollbar */
}

canvas {
    border: 2px dashed red;
    display: inherit;
    width: inherit;
    height: 100%;
}